<div class="col-md-12">

	<ul>
		<li><%= gravatar_tag @user.email,:default => "monsterid", :size => 100 %></li>
		<li><%= @user.name %>, </li>
		<li>posted <%= pluralize(@user.count_articles, "Article") %></li>
	</ul>
</div>

<div class="col-md-12">
	<%= render @articles %>

	<%= will_paginate @articles %>
</div>