<div class="col-sm-4 article">
	<%= link_to image_tag(article.picture.thumb), article_path(article) %>
	<h1><%= article.title %></h1>
	<p><%= truncate(article.content, length: 100)  %></p>

	<ul>
		<li>by: <%=  link_to article.user.name, profile_path(article.user) %> | </li>
		<li><a href="http://localhost:3000/articles/<%= article.id %>#disqus_thread">Link</a></li>
		<li>
			<% if article_owner?(article.user) %>
			 | <%= link_to "Edit", edit_article_path(article)  %>
			<% end %>
		</li>
	</ul>
</div>